body {
  margin: 0;
  padding: 0;
  background-color: rgb(43, 38, 38);
}

.container {
  width: 40%;
  padding-top: 100px;
  margin: 50px auto 50px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

table {
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: #ffffff;
}

button {
  display: inline-block;
  background-color: #211f9b;
  padding: 8px;
  margin: 10px;
  width: 80%;
  height: 100%;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: rgb(26, 24, 24);
  color: #fff;
}

img {
  width: 50px;
  height: auto;
  margin: 0;
}

.checkbox {
  content: "";
  width: 20px;
  height: 20px;
  padding: 4px;
  margin: 4px;
  /* transform: scale(1.5); */
}


.link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.link:hover {
  text-decoration: none;
}